# ANS : 1

In [6]:
percentage = float(input("Enter the percentage: "))

if percentage >= 90:
    grade = "A"
elif percentage > 80 and percentage <= 90:
    grade = "B"
elif percentage >= 60 and percentage <= 80:
    grade = "C"
else:
    grade = "D"

print("Grade:", grade)

Enter the percentage:  96

Grade: A

# ANS : 2

In [9]:
cost_price = float(input("Enter the cost price of the bike (in Rs): "))

if cost_price > 100000:
    tax_percentage = 15
    road_tax = cost_price * (tax_percentage / 100)
elif cost_price > 50000 and cost_price <= 100000:
    tax_percentage = 10
    road_tax = cost_price * (tax_percentage / 100)
elif cost_price <= 50000:
    tax_percentage = 5
    road_tax = cost_price * (tax_percentage / 100)
else:
    road_tax = 0

print("Road Tax to be paid: Rs", road_tax)

Enter the cost price of the bike (in Rs):  75000

Road Tax to be paid: Rs 7500.0

# ANS : 3

In [12]:
city_monuments = {
    "Delhi": "Red Fort",
    "Agra" : "Taj Mahal",
    "jaipur": "Jal Mahal"
    
}

city = input("Enter the name of the city: ").lower()

if city in city_monuments:
    monument = city_monuments[city]
    print("Monument(s) in", city.capitalize(), ":", monument)
else:
    print("Monument information not available for", city.capitalize())

Enter the name of the city:  jaipur

Monument information not available for Jaipur

# ANS : 4

In [13]:
number = int(input("Enter a number: "))
count = 0

while number > 10:
    number /= 3
    count += 1

print("The number can be divided by 3", count, "times before it is less than or equal to 10.")

Enter a number:  33

The number can be divided by 3 2 times before it is less than or equal to 10.

# ANS : 5

In [ ]:
The while loop in Python is used to repeatedly execute a block of code as long as a specified condition remains true. It is useful when you want to repeat a certain task until a specific condition is met. 
EX :

In [1]:
number = 1

while number <= 5:
    print(number)
    number += 1

1
2
3
4
5

In [ ]:
The loop executes as follows:

1)In the first iteration, number is 1, and it satisfies the condition. It prints 1 and increments number to 2.
2)In the second iteration, number is 2, and it satisfies the condition. It prints 2 and increments number to 3.
3)This process continues until number becomes 6. At this point, number is no longer less than or equal to 5, so the condition evaluates to False, and the loop terminates.

# ANS : 6

In [1]:
# Pattern 1 : 

row = 1

while row <= 5:
    col = 1

    while col <= 3:
        if (row == 1 or row == 5) or (col == 1 and row in [2, 3, 4]):
            print("3", end="")
        else:
            print(" ", end="")
        
        col += 1
    
    print()
    row += 1

333
3
3
3
333

In [2]:
# Pattern 2 :

row = 1

while row <= 5:
    col = 1

    while col <= 3:
        if (col == 3) or (row == 1 and col in [1, 2]) or (row == 3 and col == 1) or (row == 5 and col in [1, 2]):
            print("3", end="")
        else:
            print(" ", end="")
        
        col += 1
    
    print()
    row += 1

333
  3
3 3
  3
333

In [3]:
# Pattern 3 :

row = 1

while row <= 5:
    col = 1

    while col <= 3:
        if (col == 3) or (row == 1 and col in [1, 2]) or (row == 3 and col in [1, 2]) or (row == 5 and col in [1, 2]):
            print("3", end="")
        else:
            print(" ", end="")
        
        col += 1
    
    print()
    row += 1

333
  3
333
  3
333

# ANS : 7